.container{
    width:100%;
    height:100%;
    padding-top: 60px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
nav{
    position: fixed;
    top:0;
    background-color: white;
    /* height:80px; */
    padding-top:5px;
    width:100%;
    z-index: 1;
    /* border-bottom: .5px solid lightgrey; */
    display:flex;
    /* flex-direction: column; */
    align-items: flex-start;
    justify-content: space-around;
}
.logo{
    font-size: 1.5rem;
    margin:.5rem;
    font-weight: 600;
    color:rgb(0,135,55)
}
/* .navitems{
    width:80%;
    display:flex;
    align-items: center; */
/* } */
.search{
    width:50%;
    display: flex;
    align-items: flex-start;
    background-color: white;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: .75rem;
    margin-bottom:.5rem
}
.search input{
    height:40px;
    outline: none;
    border:0px;
    width:95%;
}
.search input:focus{
    border-bottom:.5px solid lightgrey
}

.suggested{
    width:auto;
    padding:1rem;
    display:flex;
    align-items: center;
}

.suggested:hover{
    background-color: lightgrey;
}

.navitems span{
    margin-left:2rem;
    display: flex;
    align-items: center;
}
.navitems span p{
    color:black
}

main{
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1900px;
    width:85%;
    display:flex;
    flex-wrap: wrap;
}
.market{
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    word-break: break-word;
    width:28%;
    border:.5px solid lightgrey;
    margin:.5rem;
    padding:.4rem;
    margin-left: auto;
    margin-right: auto;
}
.market p{
    margin:.3rem;
}

.market_image{
    max-height:200px;
    min-height:200px;
    overflow:hidden;
    background-color: transparent;
    border-bottom:.5px solid lightgrey;
}


.category{
    display: flex;
    align-items: center;
}
.category span{
    border: 1px solid lightgray;
    border-radius: 1rem;
    text-align: center;
    font-size: .7rem;
    color:grey;
    width:55px;
    padding:.2rem;
    margin:.2rem;
}


@media (min-width: 0px) and (max-width: 767px) { 
    .container{
        width:100%;
        padding-top:10px;
    }
    nav{
        /* display: none; */
        padding-left: 0rem;
        padding-right: 0rem;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .location_icon{
        display:none
    }
    .search{
        width:250px;
    }
    
    .search{
        width:95%
    }
    main{
        margin-top:20px;
        width:100%;
        flex-direction: column;
    }
    .market{
        width:90%;
        margin-bottom:1rem;
    }
    .market_image{
        max-height:300px;
        width:auto;
        margin:0rem;
        padding:.5rem;
      } 
} 
  
  /* Media Query for Tablets Ipads portrait mode */ 
  @media (min-width: 768px) and (max-width: 1024px){ 
    /* .navdropdown{
        display: none;
    } */
  /* .files_main_child{
    max-width: 10%;
    background-color: red;
  } */
  
.market_image{
  } 
}
  
  /* Media Query for Laptops and Desktops */ 
  @media (min-width: 1025px) and (max-width: 1280px){ 
    .market_image{
      } 
  }
  
  /* Media Query for Large screens */ 
  @media (min-width: 1281px) { 
   
  } 
  
  @media only screen and(max-width: 700px) { 
  
  } 