.container{
    margin-top:100px;
    display:flex;
    justify-content: center;
}

.form{
    display:flex;
    width:500px;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.imagebox{
    display:flex;
    flex-direction: column;
    width:100%;
    border-radius: 10px;
    border: 1px dashed grey;

}
.imagebox_main{
    overflow-x: scroll;
    display:flex;
    height:150px;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
.imagebox_main::-webkit-scrollbar{
    height:5px;
}

.imagebox_main::-webkit-scrollbar-thumb {
    height: 5px;
    border-radius: 5px;
    background-color: rgb(197, 195, 195);
}
.imagebox_main::-webkit-scrollbar-thumb:hover {
    height: 5px;
    border-radius: 5px;
    background-color: rgb(139, 139, 139);
}
.imagebox_main::-webkit-scrollbar-track {
    background: transparent;
}

.imagebox_main h1,p{
    color:lightgrey;
}

.checkboxes{
    display:flex;
    align-items: center;
}

